@using eKorpa.ViewModels

@model ArtikalDodajVM


        <a id="nazad" class="btn btn-danger" href="/Artikal/"><i class="fa fa-arrow-left" aria-hidden="true"></i></a> <br />
<div id="formaDodajArtikal">
    <form asp-action="Snimi" asp-controller="Artikal" enctype="multipart/form-data">

        <div style="display:none">
            <input asp-for="ID" />
        </div>

        <label class="control-label">Naziv Artikla</label>
        <input type="text" asp-for="NazivArtikla" />
        <span asp-validation-for="NazivArtikla" class="text-danger"></span>

        <label>Cijena artikla</label>
        <input asp-for="Cijena" />

        <label for="Kategorija">Kategorija</label>
        <select asp-for="KategorijaID" asp-items="Model.Kategorije"></select>
        <span asp-validation-for="Kategorije" class="text-danger"></span>
        <label>Slike</label>

        <div class="slike">
            @if (Model.Slike != null)
            {
                @for (int i = 0; i < Model.Slike.Count; i++)
                {
                    @if (Model.Slike[i] != null)
                    {
                        var base64 = Convert.ToBase64String(Model.Slike[i]);
                        var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
                        <div class="slika">
                            <img src="@imgsrc" alt="Alternate Text" /><br />
                            <div class="ikonice">
                                <a class="btn btn-info" href="/Artikal/SetThumbnail?SlikaID=@Model.SlikaID[i]&ArtikalID=@Model.ID">
                                    <i class="fa fa-tasks" aria-hidden="true"></i>
                                    <span class="tooltiptext">Postavi kao thumbnail</span>
                                </a>
                                <a class="btn btn-danger" href="/Artikal/ObrisiSliku?SlikaID=@Model.SlikaID[i]&ArtikalID=@Model.ID">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                    <span class="tooltiptext">Obriši sliku</span>
                                </a>
                            </div>
                        </div>
                    }
                }
            }
        </div>
        <label asp-for="Slika" class="control-label">Upload slike</label>
        <input asp-for="Slika" accept="image/*" multiple />
        <span asp-validation-for="Slika" class="text-danger"></span>

        <input type="submit" value="Snimi" class="btn btn-primary" />

    </form>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
<link href="/css/ArtikalDodaj.css" rel="stylesheet" />

