@using eKorpa.ViewModels

@model ArtikalDodajVM

<div class="row">
    <div class="col-md-4">
        <form asp-action="Snimi" asp-controller="Artikal" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div style="display:none">
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
                <input asp-for="ID" />
========================================================================
        <input asp-for="ID" />
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> cijena
            </div>

<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
            <div class="form-group">
                <label asp-for="NazivArtikla" class="control-label"></label>
                <input asp-for="NazivArtikla" />
                <span asp-validation-for="NazivArtikla" class="text-danger"></span>
========================================================================
    <div>
        <label>Naziv artikla:</label>
        <input asp-for="NazivArtikla" />
    </div>
    <div>
        <label>Cijena artikla:</label>
        <input asp-for="Cijena" />
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> cijena
            </div>

<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
            <div class="form-group">
                <label asp-for="Kategorije" class="control-label"></label>
========================================================================
    <div>
        <label>Kategorija:</label>
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> cijena
                <select asp-for="KategorijaID" asp-items="Model.Kategorije"></select>
                <span asp-validation-for="Kategorije" class="text-danger"></span>
            </div>

            <div class="form-group">
            <label asp-for="Slika" class="control-label"></label>
            <input asp-for="Slika" accept="image/*" multiple/>
            <span asp-validation-for="Slika"  class="text-danger"></span>
        </div>

          

            <div class="form-group">
                <input type="submit" value="Snimi" class="btn btn-primary" />
            </div>

<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
========================================================================
    <input type="submit" class="btn btn-warning" value="snimi artikal" name="Snimi" />
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> cijena

        </form>
    </div>
</div>