@using eKorpa.ViewModels

@model ArtikalDodajVM

<form asp-action="Snimi">
    <div>
        <label>Naziv artikla:</label>
        <input asp-for="NazivArtikla" />
    </div> 
    
    <div>
        <label>Kategorija:</label>
        <select asp-for="KategorijaID" asp-items="Model.Kategorije" ></select>
    </div>

<input type="submit" class="btn btn-warning" name="Snimi"/>
</form> 