@using eKorpa.ViewModels

@model ArtikalIndexVM


<table class="table table-active">
    <thead>
        <tr>
            <th>ID</th>
            <th>Naziv</th>
            <th>Kategorija</th>
        </tr>   
    </thead>

    <tbody>
        @foreach (var item in Model.rows)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.NazivArtikla</td>
                <td>@item.Kategorija</td>
            </tr>
        }
    </tbody>
</table>
<a href="/Artikal/Dodaj" class="btn btn-secondary" >Dodaj</a>