@using eKorpa.ViewModels

@model ArtikalIndexVM


<table class="table table-active">
    <thead>
        <tr>
            <th>ID</th>
            <th>Naziv</th>
            <th>Kategorija</th>
        </tr>   
    </thead>

    <tbody>
        @foreach (var item in Model.rows)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.NazivArtikla</td>
                <td>@item.Kategorija</td>
                <td> <a href="/Artikal/Dodaj?ArtikalID=@item.ID">Uredi</a></td>
                <td> <a href="/Artikal/Obrisi?ArtikalID=@item.ID">Obrisi</a></td>
            </tr>
        }
    </tbody>
</table>
<a href="/Artikal/Dodaj" class="btn btn-secondary" >Dodaj</a>

<style>
    body {
        background-color: rgb(45,45,45);
        color: lightcoral;
    }

        body a {
            color: lightblue;
        }
</style>