input[type=text], select {
    width: 100%;
    padding: 6px 10px;
    margin: 0px 0 25px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 20%;
    background-color: #000000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
}

    input[type=submit]:hover {
        background-color: #041c01;
        transition: ease 0.5s;
    }

#formaDodajArtikal {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
    font-weight: 600;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.slike {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15px;
    border: 1px solid grey;
    border-radius: 16px;
    flex-wrap: wrap;
    overflow: scroll;
}

.slika {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border: 1px solid grey;
    margin-bottom:10px;
}



a {
    /*width:200px;*/
    /*margin: 10px 0 10px 0;*/
}


img {
    height: 150px;
}

.btn-danger {
    margin-bottom: 10px;
    margin-top: 10px;
    width: 50px;
}

.btn-success, .btn-warning {
    margin-bottom: 10px;
    margin-top: 10px;
    width: 50px;
}

.ikonice {
    display: flex;
    justify-content: space-around
}

.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.btn-success:hover .tooltiptext {
    visibility: visible;
    transition: ease 0.5s;
}
.btn-warning:hover .tooltiptext {
    visibility: visible;
    transition: ease 0.5s;
}

.btn-danger:hover .tooltiptext {
    visibility: visible;
    transition: ease 0.5s;
}
