@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Dobro došli na najbolje mjesto za kupovinu i prodaju odječe</h1>
    <p>eKorpa</p>
    <form asp-action="Pretraga" asp-controller="Home" >
        <input name="querry" placeholder="npr: majica" />
        <button type="submit" class="btn btn-dark">Pretraži</button>
    </form>
    @*<a href="/SMS/SendSMS" class="btn btn-info disabled">Pošalji sms </a>*@
</div>
