@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>eKorpa</p>
    <form asp-action="Pretraga" asp-controller="Home" >
        <input name="querry" placeholder="npr: majica" />
        <button type="submit" class="btn btn-dark">Pretraži</button>
    </form>
</div>
