<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <AllowUntrustedCertificate>True</AllowUntrustedCertificate>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>api.p2040.app.fit.ba</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>5de0ee1b-3fc4-44a5-9c2c-aeaa0dd22629</ProjectGuid>
    <SelfContained>false</SelfContained>
    <MSDeployServiceURL>app.fit.ba</MSDeployServiceURL>
    <DeployIisAppPath>api.p2040.app.fit.ba</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>P2040</UserName>
    <_SavePWD>False</_SavePWD>
    <TargetFramework>netcoreapp3.1</TargetFramework>
  </PropertyGroup>
</Project>