@page
@model ConfirmPhoneSuccessModel
@{
    ViewData["Title"] = "Konfirmacija broja telefona";
}

<div class="container">
<h1>@ViewData["Title"]</h1>
    <p>
        Hvala Vam na konfirmaciji broja telefona.
    </p>
    <a asp-page="/Index">Povratak na početnu</a>
</div>