@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Registracija";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>
    <h4 id="external-login-title">Spajanje @Model.ProviderDisplayName računa.</h4>
    <hr />

    <p id="external-login-description" class="text-info">
        Uspješna autentifikacija sa <strong>@Model.ProviderDisplayName</strong>.
        Molimo Vas da unesete email adresu ispod i pritisnete Registruj tipku da završite prijavu.
    </p>
    <p style="color:red">Napomena: Lozinka za račun će Vam biti poslana u verifikacionom mail-u.</p>

    <div class="row">
        <div class="col-md-4">
            <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Registruj</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
