@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Konfirmacija reseta lozinke";
}

<div class="container">

<h1>@ViewData["Title"]</h1>
<p>
    Molimo provjerite Vaš mail za reset lozinke.
</p>

</div>
