@using Microsoft.AspNetCore.Identity
@using eKorpa.EntityModels
@using System.Security.Claims
@inject SignInManager<Korisnik> SignInManager
@inject UserManager<Korisnik> UserManager
@{
    var claimsIdentity = User.FindFirstValue(ClaimTypes.NameIdentifier);
}

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        @*<li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
            </li>*@

        @*<li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Korisnički račun"><i class="fas fa-user-circle"></i></a>
            </li>*@

        <li class="nav-item">
            <a class="nav-link text-dark" href="/Profil/Index?KorisnikID=@claimsIdentity" title="Korisnički profil"><i class="fas fa-user-circle"></i>  <i id="oznaka" class="fas fa-exclamation-circle" style="color:red;font-size:10px;position:absolute;display:none"></i></a>
          
        </li>

        <li class="nav-item">
            <a href="/ListaZelja/Detalji" class="nav-link text-dark" title="Lista želja">
                <i class="fa fa-heart" aria-hidden="true"></i>
            </a>
        </li>

        <li class="nav-item">
            <a href="/Korpa/Detalji" class="nav-link text-dark" title="Korpa">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </a>
        </li>

        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark" title="Odjavi se"><i class="fas fa-sign-out-alt"></i></button>
            </form>
        </li>
    }
    else
    {
        @*<li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </li>*@
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login"><i class="fas fa-user"></i></a>
        </li>
    }
</ul>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />

<script>

    "use strict";
    var connection = new signalR.HubConnectionBuilder().withUrl("/myhub").build();

    connection.on("prijemPoruke", function (user, message) {
        Provjera();
    });

    connection.start().then(function () {
        console.info("started signalR hub");

    }).catch(function (err) {
        return console.error(err.toString());
    });

    function Provjera() {
        console.log("provjera");
        var urlGetID = "/Profil/GetID";
        var oznaka = document.getElementById("oznaka");


        $.get(urlGetID, function (odg1) {
            var url = "/Profil/ProvjeraDojamKupac?KorisnikID=" + odg1;
            $.get(url, function (odg2) {
                if (odg2 == false) {
                    if (oznaka != null) {
                        oznaka.style.display = "inline";
                    }
                    oznaka.style.display = "inline";
                }
                else {
                    if (oznaka != null) {
                        oznaka.style.display = "none";
                    }
                    oznaka.style.display = "none";
                }
            })
        })

        $.get(urlGetID, function (odg1) {
            var url = "/Profil/ProvjeraDojamProdavac?KorisnikID=" + odg1;
            $.get(url, function (odg2) {
                if (odg2 == false) {
                    if (oznaka != null) {
                        oznaka.style.display = "inline";
                    }
                    oznaka.style.display = "inline";
                }
                else {
                    if (oznaka != null) {
                        oznaka.style.display = "none";
                    }
                    oznaka.style.display = "none";
                }
            })
        })
    }

</script>