@using Microsoft.AspNetCore.Identity
@using eKorpa.EntityModels
@inject SignInManager<Korisnik> SignInManager
@inject UserManager<Korisnik> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        @*<li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
        </li>*@

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Korisnički račun"><i class="fas fa-user-circle"></i></a>
        </li>

        <li class="nav-item">
            <a href="/ListaZelja/Detalji" class="nav-link text-dark" title="Lista želja">
                <i class="fa fa-heart" aria-hidden="true"></i>
            </a>
        </li>

        <li class="nav-item">
            <a href="/Korpa/Detalji" class="nav-link text-dark" title="Korpa">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </a>
        </li>

        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark" title="Odjavi se"><i class="fas fa-sign-out-alt"></i></button>
            </form>
        </li>
    }
    else
    {
        @*<li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>*@
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login"><i class="fas fa-user"></i></a>
        </li>
    }
</ul>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
