@page
@model Disable2faModel
@{
    ViewData["Title"] = "Isključi two-factor autentifikaciju (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h2>@ViewData["Title"]</h2>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>Ova akcija isključuje 2FA.</strong>
    </p>
    <p>
        Isključivanje 2FA ne mijenja ključeve korištene u autentifikacijskim aplikacijama. Ako bi željeli promijeniti kluč
        korišten u autentifikacijskim aplikacijama trebali bi<a asp-page="./ResetAuthenticator">resetovati Vaše autentifikacijske ključeve.</a>
    </p>
</div>

<div>
    <form method="post" class="form-group">
        <button class="btn btn-danger" type="submit">Isključi 2FA</button>
    </form>
</div>
