@page
@model GenerateRecoveryCodesModel
@{
    ViewData["Title"] = "Generisanje two-factor autentifikacijskih (2FA) kodova za oporavak";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Ove kodove čuvajte na sigurnom mjestu.</strong>
    </p>
    <p>
        If you lose your device and don't have the recovery codes you will lose access to your account.
    </p>
    <p>
        Generisanje novih autentifikacijskih kodova ne mijenja ključeve koji se koriste u autentifikacijskim aplikacijama. Ako želite promijeniti ključ
        koji se koristi u autentifikacijskoj aplikaciji onda bi trebali <a asp-page="./ResetAuthenticator">resetovati vaše autentifikacjske ključeve.</a>
    </p>
</div>
<div>
    <form method="post" class="form-group">
        <button class="btn btn-danger" type="submit">Generiši kodove za oporavak</button>
    </form>
</div>