<div class="container">
    <a href="/Korisnici" class="adminItem">
        Korisnici
    </a>
    <a href="/RoleManager" class="adminItem">
        RoleManager
    </a>
    <a href="/UserRoles" class="adminItem">
        UserRoles
    </a>
    <a href="/Kategorija" class="adminItem">
        Kategorija
    </a>
    <a href="/Potkategorija" class="adminItem">
        Potkategorija
    </a>
    <a href="/Boja" class="adminItem">
        Boja
    </a>
    <a href="/Velicina" class="adminItem">
        Veličina
    </a>
    <a href="/Brend" class="adminItem">
        Brend
    </a>
    <a href="/Materijal" class="adminItem">
        Materijal
    </a>
    <a href="/Opcina" class="adminItem">
        Općina
    </a>

</div>

<link href="/css/AdministracijaIndex.css" rel="stylesheet" />
