@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Vaš password je resetiran. Molimo <a href="/Identity/Account/Login">prijavite se klikom ovdje</a>.
</p>
