@using eKorpa.ViewModels
@using Microsoft.AspNetCore.Identity
@using eKorpa.EntityModels
@using System.Security.Claims
@inject SignInManager<Korisnik> SignInManager
@inject UserManager<Korisnik> UserManager
@{
    var claimsIdentity = User.FindFirstValue(ClaimTypes.NameIdentifier);
}
@model ProfilIndexVM

<a id="nazad" class="btn btn-danger" href="/Artikal/"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
<br />
<div>
    <label> Ime </label>
    <span>@Model.Ime</span> <br />
    <label> Prezime </label>
    <span>@Model.Prezime</span> <br />
    <label> Email </label>
    <span>@Model.Email</span> <br />
    @if (SignInManager.IsSignedIn(User))
    {
<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Postavke korisničkog računa"><i class="fas fa-users-cog"></i>Postavke korisničkog profila <i id="postavke" class="fas fa-exclamation-circle" style="color:red;font-size:10px;position:absolute;display:none"></i> </a>
        <a class="nav-link text-dark" href="/Artikal/Dodaj" title="Dodaj novi artikal"><i class="fas fa-plus-circle"></i> Dodaj novi artikal</a>
        
    }
    
<a class="nav-link text-dark" href="/Profil/KupljeniArtikli?KorisnikID=@Model.ID" title="Kupljeni artikli">Kupljeni artikli  <i id="nemaDojmaKupljeni" class="fas fa-exclamation-circle" style="color:red;font-size:10px;position:absolute;display:none"></i>  </a>
<a class="nav-link text-dark" href="/Profil/ProdaniArtikli?KorisnikID=@Model.ID" title="Prodani artikli">Prodani artikli     <i id="nemaDojmaProdani" class="fas fa-exclamation-circle" style="color:red;font-size:10px;position:absolute;display:none"></i> </a>
    <a class="nav-link text-dark" href="/Profil/Dojmovi?KorisnikID=@Model.ID" title="Dojmovi">Dojmovi</a>

    <div id="ajaxDiv" style="border:1px solid black">

    </div>
</div>
<br />

<link href="/css/ProfilIndex.css" rel="stylesheet" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>
    dodajSlike();
    function dodajSlike() {
        var url = "/Artikal/IndexW?ProfilID=@Model.ID";
        $.get(url, function (odg) {
            $(ajaxDiv).html(odg);
        });
    }



       



</script>


